html {
  scroll-behavior: smooth;
}

:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-headers: 'Abril Fatface', cursive;
  --secondary-font: 'Fira Code', monospace;
  --accent-pink: #FD2155;
  --accent-teal: #75e9e5;
  --accent-violet: #be26ff;
  --accent-yellow: #E4EE89;
  --accent-orange: #ffb509;
  --dark-bg: #111111;
  --font-white: whitesmoke;
}

body {
  background-color: #111111;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--ff-primary);
  color: var(--font-white);
  font-weight: 300;
}

.home-link {
  position: relative;
  top: 20px;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: var(--secondary-font);
  color: var(--accent-teal);
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
}

.home-link:hover {
  color: var(--accent-orange);
  transition: all 0.3s ease-in-out;
}

.projects-header {
  font-family: var(--ff-primary);
  color: var(--accent-violet);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 15vh;
  padding-bottom: 20vh;
}

.projects-header span {
  color: var(--accent-teal);
}

.movie-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 6vh;
}

.movie-card {
  background-color: transparent;
  border-radius: 9px;
  padding: 0;
  margin-bottom: 5vh;
  width: 40vw;
}


iframe, img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

iframe, img {
  border-radius: 9px;
  width: 100%;
  height: 50vh;
}

img {
  height: auto;
}

.career-compass {
  box-shadow: 0 0 8px rgba(163, 0, 255, 0.7);
  border: 1px solid var(--accent-violet);
}

.mentor-me {
  box-shadow: 0 0 8px var(--accent-teal, 0.7);
  border: 1px solid var(--accent-teal);
}

.placeholder {
  box-shadow: 0 0 8px var(--accent-orange, 0.7);
  border: 1px solid var(--accent-orange);
}

.movie-description {
  text-align: flex-start;
  line-height: 2em;
  height: 50%;
  max-width: 40%;
}

.movie-description h1 {
  font-size: 2.5vw;
  font-family: var(--ff-primary);
  margin-bottom: 10px;
  color: var(--font-white);
  font-weight: 700;
  letter-spacing: 2px;
}

.movie-description p {
  font-size: 18px;
  margin-bottom: 20px;
}

.movie-description ul {
  list-style-type: disc;
  padding: 0;
  margin: 4px;
}

.movie-description li {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: .9em;
  margin-bottom: 5px;
  text-align: left;
  color: var(--font-white);
  margin-right: 10px;
}

.view-code, .visit-site {
  text-align: left;
  font-weight: bold;
  font-family: var(--secondary-font);
  padding: 12px;
  margin-bottom: 12px;
  letter-spacing: 2px;
  background: transparent;
  color: var(--accent-orange);
  font-size: 1.2vw;
  text-decoration: none;
}

.view-code:hover, .visit-site:hover {
  color: var(--accent-violet);
  transition: all 0.3s ease-in-out;
}

.visit-site {
  color: var(--accent-teal);
}

.visit-site:hover {
  color: var(--accent-violet);
  transition: all 0.3s ease-in-out;
}

/* Footer Section */

.footer {
    font-family: var(--secondary-font);
    background-color: var(--dark-bg);
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
    margin-top: 20px;
}

.socials-row {
  display: flex;
  align-items: flex-end;
  text-align: left;
}

.footer p {
  font-size: 0.6em;
  font-weight: 300;
  color: var(--font-white);
  padding-right: 0;
  margin:2px;
  margin-bottom: 12px;
}

.footer-img {
  width: 25px;
  padding: 12px;
}

/* media query for smallest mobile */

@media screen and (max-width: 420px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
  }

  .movie-description {
    max-width: 70%;
    line-height: 1.2em;
  }

  .movie-description p {
    font-size: 3vw;
  }

  .movie-description h1 {
    font-size: 4vw;
  }

  .movie-description li {
    font-size: 1.8vw;
  }

  .movie-card {
    width: 70%;
  }

  .movie-card iframe, img {
    max-height: 200px;
  }

}

/* media query for mobile */

@media screen and (max-width: 768px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
  }

  .movie-description {
    max-width: 70%;
    line-height: 1.5em;
  }

  .movie-description h1 {
    font-size: 5vw;
  }

  .movie-description li {
    margin-bottom: 12px;
  }
  .movie-card {
    max-height: 200px;
  }

  .movie-card iframe, img {
    max-height: 200px;
  }

  .view-code, .visit-site {
    font-size: 2vw;
  }
}

/* media query for tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .movie-container {
    flex-direction: column;
    align-items: center;
  }

  .movie-description {
    max-width: 70%;
    margin-top: 10px;
    text-align: center;
  }

  .movie-description h1 {
    font-size: 4vw;
  }

  .movie-description li {
    font-size: 2vw;
  }

  .view-code, .visit-site {
    font-size: 2vw;
  }
}
